<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ project.name }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if request.args.success == '1' %}
            <div class="alert">
                <p>
                    <span class="close">&times;</span>
                    <strong>Success!</strong> You are ready to start flipping tables!
                </p>
            </div>
        {% endif %}
        <div class="wrapper">
            <header>
                <h1>{{ project.name }} <small>{{ project.version }}</small></h1>
                <p style="margin-bottom:0">Flip some tables on <a href="https://slack.com/">Slack</a>.</p>
                <p><img src="{{ url_for('static', filename='img/tableflip.png') }}" border="0" alt="{{ project.name }}" /></p>
                <p class="view"><a href="{{ project.github_url }}">View the Project on GitHub <small>ErinMorelli/em-slack-tableflip</small></a></p>
                <ul>
                    <li><a href="{{ project.github_url }}/zipball/master" target="_blank" rel="noopener noreferrer">Download <strong>ZIP File</strong></a></li>
                    <li><a href="{{ project.github_url }}/tarball/master" target="_blank" rel="noopener noreferrer">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="{{ project.github_url }}" target="_blank" rel="noopener noreferrer">Fork On <strong>GitHub</strong></a></li>
                </ul>
            </header>
            <section>
                <h1>Let’s Flip Some Tables!</h1>

                <p>Built using emojis from <a href="http://www.emoticonfun.org/flip/" target="_blank" rel="noopener noreferrer">here</a>, <a href="http://emojicons.com/table-flipping" target="_blank" rel="noopener noreferrer">here</a>, and <a href="http://tableflipping.com/" target="_blank" rel="noopener noreferrer">here</a>.</p>

                <hr>

                <h2 id="quick-setup">Quick Setup</h2>

                <p>Use this button to automatically add the <code>/tableflip</code> slash command to your team:</p>
                <p>
                    <a href="{{ url_for('teams') }}" rel="noopener noreferrer">
                        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
                    </a>
                </p>

                <p>View available commands and options <a href="#usage">here</a>.</p>

                <hr>

                <h2 id="manual-setup">Manual Setup</h2>

                <ol>
                    <li>
                        <p>Manually add a new slash command to your team by going to:</p>
                        <pre><a href="https://my.slack.com/apps/build/custom-integration" target="_blank" rel="noopener noreferrer">https://my.slack.com/apps/build/custom-integration</a></pre>
                        <p>and selecting the <strong>Slash Commands</strong> option.</p>
                    </li>
                    <li>
                        Use one of the following options as your new command:
                        <ul>
                            {% for allowed_command in allowed_commands -%}
                                <li><code>{{ allowed_command }}</code></li>
                            {%- endfor %}
                        </ul>
                        <p>
                            <small><strong>Note:</strong> Table flipping will not work without one of these specific slash commands.</small>
                        </p>
                    </li>
                    <li>
                        <p>Set the <strong>URL</strong> field to:</p>
                        <pre><a href="{{ project.base_url }}" target="_blank" rel="noopener noreferrer">{{ project.base_url }}</a></pre>
                    </li>
                    <li>
                        <p>Set the <strong>Method</strong> option to <code>POST</code></p>
                    </li>
                    <li>
                        Some optional, but useful extra steps:<br />
                        <ul>
                            <li>Check the box next to <strong>Show this command in the autocomplete list</strong>.</li>
                            <li>Set the <strong>Description</strong> field to <code>"Flip some tables"</code>.</li>
                            <li>Set the <strong>Usage hint</strong> field to <code>"[type] (or 'help', 'list')"</code>.</li>
                            <li>Set the <strong>Descriptive Label</strong> field to <code>"{{ project.name }}"</code>.</li>
                        </ul>
                    </li>
                    <li>
                        And finally, click the <strong>Save Integration</strong> button. Check out the <a href="#usage">usage</a> section to get started flipping!
                    </li>
                </ol>

                <hr>

                <h2 id="usage">Usage</h2>

                <p><strong>Note:</strong> These examples use <code>/tableflip</code> but yours may vary based on what you selected for step 2 during a <a href="manual-setup">manual</a> setup.</p>

                <p>Use command <code>/tableflip help</code> to view this usage information from within Slack.</p>

                <p><strong>Basic Flip:</strong></p>

                <pre><code>/tableflip</code></pre>

                <p><strong>Basic Word Flips:</strong></p>

                <pre><code>/tableflip word [word]</code></pre>

                <p><strong>Tip:</strong> You can enter one or multiple words, e.g. <code>/tableflip word Hello World</code> produces: <code>(╯°□°)╯︵ plɹoM ollǝH</code></p>

                <p><strong>Special Flips:</strong></p>

                <pre><code>/tableflip [type] [word]</code></pre>

                <p><strong>Note:</strong> The <code>word</code> input is optional and will display the flip with the provided word. Not all flip types can do word flips. Without a word, the flip will display the standard table.</p>

                <p id="flip-types">Available flip types:</p>

                <table aria-describedby="flip-types">
                    <tr>
                        <th scope="col">Command</th>
                        <th scope="col">Emoji</th>
                    </tr>
                    <tr>
                        <td><code>/tableflip</code></td>
                        <td><code>{{ allowed_types['classic'] }}</code></td>
                    </tr>
                    {% for (allowed_type, description) in allowed_types|dictsort(true) -%}
                        {% if allowed_type != 'classic' -%}
                            {% set is_word_type = allowed_type in allowed_word_types.keys() %}
                            <tr>
                                <td><code>/tableflip {{ allowed_type }} {% if is_word_type %}[word]{% endif %}</code></td>
                                <td><code>{{ description }}</code></td>
                            </tr>
                        {%- endif %}
                    {%- endfor %}
                </table>

                <p>Use command <code>/tableflip list</code> to view this list from within Slack.

            </section>
            <footer>
                <p>This project is maintained by <a href="http://github.com/ErinMorelli" target="_blank" rel="noopener noreferrer">Erin Morelli</a></p>
                <p><small>Theme by <a href="https://github.com/orderedlist" target="_blank" rel="noopener noreferrer">orderedlist</a><br />&copy; {{ project.copyright }}</small></p>
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scale.fix.js') }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77960869-2', 'auto');
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
    </body>
</html>
